/* JobTable.css */

.job-table-container {
    width: 20%;
    margin-left: 750px;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.filter-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.filter-container label {
    margin-bottom: 5px;
    font-weight: bold;
}

.filter-container input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 10px;
}

.filter-container div {
    display: flex;
    justify-content: flex-end;
}

.filter-container button {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-container button:hover {
    background-color: #0056b3;
}