/* ProfileForm.css */
.profile-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 60px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-form-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.profile-form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style for the dropdown container */
.profile-form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white; /* Set background color */
    cursor: pointer;
}

.profile-form-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile-form-container button:hover {
    background-color: #0056b3;
}

.profile-form-container .loading {
    margin-top: 10px;
}
