*{
  margin: 0;
  background-color: #eee;
}

.rowFlex{
  display: flex;
}

.columnFlex{
  display: flex;
  flex-direction: column;
}

.roundButton{
  border-radius:100px;
  border: none;
}

.form-control{
  margin-top: 10px;
}

.centerItems{
  align-items: center;
}